body {
  font-family: 'Questrial', sans-serif;
  font-size: 1.2em;
}

.version-control {
  display: none;
}

.decorative-panel {
  height: 100vh;
  font-family: 'Great Vibes', sans-serif;
  text-align: center;
  line-height: 100vh;
}

.content-panel {
  font-family: 'Questrial', sans-serif;
  height: 100vh;
  font-size: 1.1em;

}

.short-decorative-panel {
  height: 50vh;
  font-family: 'Great Vibes', sans-serif;
  text-align: center;
  line-height: 50vh;
}

.short-content-panel {
  font-family: 'Questrial', sans-serif;
  height: 50vh;
  font-size: 1.1em;
}

.positioned-text {
  margin: 7%;
/*  position: relative;
  top: 30%;
  transform: translateY(-50%);*/
}



.blog-title h1, .contact-title h1, .projects-title h1, .about-title h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5%;
  color: #4A4949;
  font-size: 5em;
}

/*------------ nav bar---------*/

/*nav bar */
.navy-bar {
/*  background-color: #FFFFFF; opacity: 0.5; filter: alpha(opacity=50);*/
  background-color: rgba(255, 255, 255, 0.5);
/*  height: 10%;*/
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-family: 'Questrial', sans-serif;
}

.navy-bar ul {
  margin: 0;
  padding: 0;
}

.navy-bar li {
  /*float: left;*/
  list-style-type: none;
  display: block;
  float: left;
  width: 10%;
  padding-top: 5px;
  margin: 0 5px 10px 0;
  line-height: 10%;
}

.navy-bar a {
  line-height: 100%;
  padding: 3px 12px;
  color: #999;
  padding: 3px 12px;
  text-decoration: none;
  color: #4A4949;
}

.navy-bar .current a {
  /*background: #999;*/
  color: #fff;
  border-radius: 5px;
}

/*.navy-bar a:link{
  color: #4A4949;
}*/

.navy-bar a:link {
  text-decoration: none;
  color: #537691;
}

.navy-bar a:hover {
  color: #FCDE2E;
  font-size: 30px;
}

.navy-bar a {
  width: 50px;
  text-align: center;
}

.navy-bar a:visited {
  /*color: #FCDE2E;*/
  color: #50E3C2;
}


/*responsive navy-bar

@media screen and (max-width: 600px){
  .navy-bar {
    position: fixed;
  }
  .navy-bar ul {
    width: 146px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #aaa;
    background: #fff no-repeat 10px 11px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  .navy-bar li {
    display: none;
    margin: 0;
  }

  .navy-bar .current {
    display: block;
  }

  .navy-bar a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }

  .navy-bar .current a {
    background: none;
    color: #666;
  }
  .navy-bar ul:hover {
    background-image: none;
  }
  .navy-bar ul:hover li {
    display: block;
    font-size: 15px;
    margin: 0 0 5px;
  }

} */

/*---------- banner --------*/

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-image: url("images/Preloader_1.gif");
  background-position:center;
  background-repeat: no-repeat;
  /*background-size: 50%;*/
/*  margin-left:-20px;
  margin-right:-20px;*/
}
.banner h1 {
  font-family: 'Great Vibes', sans-serif;
  font-size: 10em;
  text-align: left;
  padding-left: 70px;
  /*color: #FCDE2E;*/
  color: white;
  padding-top: 15%;
}

.banner p {
  font-family: 'Questrial', sans-serif;
  font-style: italic;
  text-align: left;
  padding-left: 60px;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
}

.site-in-progress p {
  padding-top: 7%;
  margin-left: 0px;
  font-size: 2em;
  font-style: normal;
  letter-spacing: 4px;
  word-spacing: 20px;
  font-family: 'Questrial', sans-serif;
}

.tagline {
  /*padding-top: 5%;*/
}
.banner-content {
  text-align: justify;
}
.spectrumHeader {
  transition: background-color 3s ease;
}

.gif-row {
  padding-top: 5%;
}

.banner-down {
  bottom: 10px;
  position: absolute;
}

.blog-down {
  top: 190px;
}


/*---------- about section----------*/

.about-title {
  /*background: linear-gradient(to bottom, #7edbd4 0%, #7edbd4 99%, white 100%);*/
    /*background: linear-gradient(to bottom, #FCDE2E 0%, #FCDE2E 99%, #4A4949 100%);*/
    /*position: relative;*/
    overflow: hidden;
    background-image: url("images/bkgnd_bridge_large.png");
    background-size: 23%;
    /*padding-top: 20%;*/
    color: #4A4949;
}

.about-content img {
  text-align: center;
}

/*.about-title h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background: pink; opacity: 0.3; filter: alpha(opacity=50);
  background: rgba(54, 25, 25, .9)
  padding: 2%;
}*/

#summary-header {
  margin-top: 7%;
  margin-bottom: 7%;
}


.fa-info-circle {
  color: #4A4949;
}

/*-------- projects section -------*/

.projects-title {
  background: #FCDE2E;
  background-image: url("images/bkgnd_code_large.png");
  background-size: 20%;
  overflow: hidden;
  color: white;
}

.projects-content, .projects-title {
  height: 140vh;
}

.title h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  /*padding: 2%;*/
  color: #4A4949;
}

.project-snapshot {
  text-align: center;
  margin-top: 7%;
}

.project-snapshot img {
  border: 1px solid #4A4949;
}

.blog-down {
  bottom: 0;
  left: 0;
  position: absolute;
}


/*blog*/
.blog-title {
  background-image: url("images/bkgnd_blog_large.png");
  background-size: 20%;
}

.blog-text {
  margin-top: 22%;
}


/*contact*/

.contact-title {
  background-color: #8a9fb5;
  background-image: url("images/bkgnd_mail_large2.png");
  background-size: 14%;
  color: #4A4949;
}

.contact-section .fa {
  color: #4A4949;
}

.contact-content p{
  padding-left: 30%;
}

.contact-content h3 {
  text-align: center;
  padding-top: 20px;
}


/*responsive*/
@media (max-width: 640px) {
  .decorative-panel, .content-panel {
    height: 60%;
    margin: 10%;
  }

  .banner {
    height: 95%;
  }


}





/*interests*/



/*footer*/

.footer {
  bottom:0;
  left:0;
  position:fixed;
    width: 100%;
    height: 1.25em;
    overflow:hidden;
    margin:0 auto;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  z-index:999;
}
.footer:hover {
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  height: 4.5em;
}
.footer #container{
  margin-top:5px;
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
  background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width:500px;
  float:left;
  text-align:center;
}
.footer p{
  font-family: 'Helvetica';
  font-size: 15px;
  font-weight: 100;
  margin-top:70px;
  margin-left:40px;
  color:white;
}